$h1-font-size: 1.5rem;
$h2-font-size: 1.2rem;
$more-less-size: 1.1rem;
$h3-font-size: 1rem;

$background: #C6CCCC;
$title-color: #1F1F1F;
$review-color: #464646;
$show-more-color: #2865AC;

* {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-weight: 200;
  line-height: 1.5rem;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 { font-size: $h1-font-size; }

h2 { font-size: $h2-font-size; }

h3 { font-size: $h3-font-size; }

//base style for average rating section
.average{
  padding-bottom: 15px;
  h1 {
    text-align: center;
  }
}

//review container
.container{
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;

  padding-top: 15px;
  border-bottom: 1px solid $background;
  width: 94%;
  overflow: hidden;
  //review rating image
  .review-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  //review title
  .title {
    text-align: center;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    color: $title-color;
  }
  //review body
  p {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    overflow: hidden;
    height: 25px;
    color: $review-color;
  }
}

//name,location,date styles
.review-footer{
  h2{
    float: left;
    width: 33%;
    text-align: center;
    color: $title-color;
  }
}


//helper class for long content
.more-less-button{
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-style: italic;
  color: $show-more-color;
  font-size: $more-less-size;
  &:hover{
    cursor: pointer;
  }
}

//helper class for long content
.hide{
  display: none;
}
//helper class for long content
.show{
  display: block;
}


small {
  text-align: center;
  display: block;
}

form{
  text-align: center;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

}
